@theme {
    --color-washed-white: #d3c6aa;
    --color-washed-black: #1c1c1c;

    --color-dark-blue-0: #374145;
    --color-dark-blue-1: #2e383c;
    --color-dark-blue-2: #272e33;
    --color-dark-blue-3: #1e2326;
    --color-dark-blue-4: #1e1e1e;

    --color-dark-red: #493b40;
    --color-dark-blue: #384b55;
    --color-dark-yellow: #d3c6aa;
    --color-dark-green: #3c4841;
    --color-washed-red-neg-1: rgba(from var(--color-washed-red) r g b / 0.8);
    --color-washed-red: #e57e80;
    --color-washed-red-1: #c35f63;
    --color-washed-red-2: #a14147;
    --color-washed-blue: #7fbbb3;
    --color-washed-yellow: #dabc7f;
    --color-washed-green-neg-1: rgba(from var(--color-washed-green) r g b / 0.8);
    --color-washed-green: #a7c080;
    --color-washed-green-1: #88a062;
    --color-washed-green-2: #6b8244;

    --color-fg-vivid: var(--color-washed-white);
    --color-fg-muted: rgba(from var(--color-fg-vivid) r g b / 0.6);
    --color-fg-dim: rgba(from var(--color-fg-vivid) r g b / 0.3);
    --color-fg-inverted-vivid: var(--color-washed-black);
    --color-fg-inverted-muted: rgba(from var(--color-fg-vivid) r g b / 0.6);
    --color-fg-inverted-dim: rgba(from var(--color-fg-vivid) r g b / 0.3);

    --color-border-vivid: var(--color-washed-white);
    --color-border-muted: rgba(from var(--color-border-vivid) r g b / 0.6);
    --color-border-dim: rgba(from var(--color-border-vivid) r g b / 0.3);

    --color-bg-neg-1: var(--color-dark-blue-0);
    --color-bg-0: var(--color-dark-blue-1);
    --color-bg-1: var(--color-dark-blue-2);
    --color-bg-2: var(--color-dark-blue-3);
    --color-bg-3: var(--color-dark-blue-4);

    --spacing-my-xs: 4px;
    --spacing-my-sm: 8px;
    --spacing-my-md: 12px;
    --spacing-my-lg: 24px;
    --spacing-my-xl: 48px;

    --sizing-my-xs: 60px;
    --sizing-my-sm: 120px;
    --sizing-my-md: 240px;
    /* 아래는 용도를 모르겠다 */
    --sizing-my-lg: 480px;
    --sizing-my-xl: 960px;

    --shadow-my-sm:
        inset 0px 1px 2px rgba(from var(--color-fg-vivid) r g b / 0.2), 0px 4px 4px -1px #00000025,
        0px 2px 2px -2px #00000025;
    --shadow-my-md:
        inset 0px 1px 2px rgba(from var(--color-fg-vivid) r g b / 0.4), 0px 6px 6px -2px #00000025,
        0px 3px 3px -3px #00000025;
    --shadow-my-lg:
        inset 0px 1px 2px rgba(from var(--color-fg-vivid) r g b / 0.6), 0px 24px 24px -8px #00000025,
        0px 12px 12px -12px #00000025;

    --shadow-inward-my-sm:
        inset 0px -1px 2px rgba(from var(--color-fg-vivid) r g b / 0.2), 0px -4px 4px -1px #00000025,
        0px 2px 2px -2px #00000025;
    --shadow-inward-my-md:
        inset 0px -1px 2px rgba(from var(--color-fg-vivid) r g b / 0.4), 0px -6px 6px -2px #00000025,
        0px 3px 3px -3px #00000025;
    --shadow-inward-my-lg:
        inset 0px -1px 2px rgba(from var(--color-fg-vivid) r g b / 0.6), 0px -24px 24px -8px #00000025,
        0px 12px 12px -12px #00000025;

    --radius-my-sm: 6px;
    --radius-my-md: 12px;
    --radius-my-lg: 24px;

    --text-my-xs: 12px;
    --text-my-sm: 14px;
    --text-my-md: 16px;
    --text-my-lg: 18px;
    --text-my-xl: 24px;
}

@utility my-transition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.08, 0.34, 0.26, 1.11);
    transition-duration: 0.1s;
}
